.project.card {
    border-radius: $rounded-borders;
    text-decoration: none !important;
    margin: 10px auto;
  
    .card-img-top {
      border-radius: $rounded-borders $rounded-borders 0 0;
    }
  
    transition: transform 400ms;
  
    &:hover:not(.post) {
      transform: translateY(-8px);
      @include themed(box-shadow, $box-shadow-black, $box-shadow-white);
    }
  }
  