---
---
@import "portfolYOU";

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

$box-shadow-dark: -2px 8px 40px -12px rgba(0,0,0,0.24);
$box-shadow-light: -2px 8px 40px -12px rgba(255,255,255,0.1);
$on-laptop:        800px !default;

.project.card {
    &:hover:not(.post) {
      @include themed(box-shadow, $box-shadow-dark, $box-shadow-light);
    }
  }

  .video-container{
    width: 100%;
  }
  
  .video-container video{
    width:100%;
    height:auto;  
  }

  // Click to top theme
$click-to-top-light-background-color: {{ site.click_to_top.light.background_color | default: "white" }};
$click-to-top-light-color: {{ site.click_to_top.light.color | default: "#454545" }};
$click-to-top-dark-background-color: {{ site.click_to_top.dark.background_color | default: "#34323d" }};
$click-to-top-dark-color: {{ site.click_to_top.dark.color | default: "#bbb" }};

  .click-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    right: 60px;
    bottom: 48px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    font-size: 24px;
    user-select: none;
    transition: 0.3s;
    z-index: 10;
  
    @include media-query($on-laptop) {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      right: 35px;
      font-size: 20px;
    }
  }
  
  .click-to-top.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  [data-theme="light"] {
    .click-to-top {
      background-color: $click-to-top-light-background-color;
      color: $click-to-top-light-color;
    }
  }
  
  [data-theme="dark"] {
    .click-to-top {
      background-color: $click-to-top-dark-background-color;
      color: $click-to-top-dark-color;
    }
  }
  
  a {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
  }
  
  a::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  a:hover::before {
    bottom: 0;
    height: 100%;
  }